<p id="notice"><%= notice %></p>

<h1>Listing Phone Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Ours</th>
      <th>Customer</th>
      <th>Our metadata</th>
      <th>Customer metadata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_numbers.each do |phone_number| %>
      <tr>
        <td><%= phone_number.number %></td>
        <td><%= phone_number.ours %></td>
        <td><%= phone_number.customer %></td>
        <td><%= phone_number.our_metadata %></td>
        <td><%= phone_number.customer_metadata %></td>
        <td><%= link_to 'Show', phone_number %></td>
        <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
        <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone number', new_phone_number_path %>
