= form_for(@mapping) do |f|
  - if @mapping.errors.any? 
    .error_explanation
      %h2= pluralize(@mapping.errors.count, 'error') "prohibited this mapping from being saved:"
      %ul
        - @mapping.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :customer_id 
    %br
    = f.text_field :customer_id 
  .field
    = f.label ':phone_number_id '
    %br
    / = f.text_field ':phone_number_id'
  .field
    = f.label ':incoming_phone_number_id'
    %br
    / = f.text_field ':incoming_phone_number_id '
  .field
    = f.label :received_text 
    %br
    = f.text_field :received_text
  .field
    = f.label :reply_text 
    %br
    = f.text_field :reply_text
  .actions
    = f.submit
