- title "My Dashboard", true, {fa_icon: 'tachometer'}

- content_for(:sidebar) do
  = render 'mappings/partials/mapping_tabs', active_tab: 'general'

.tab-content
  .tab-pane.active#general
    .panel.panel-default
      .panel-heading
        %h4 Mappings
      .panel-body
        .table-responsive
          %table.table.table-striped.table-hover.table-condensed
            %tbody
              %tr
                %th= "Incoming Number"
                %th= "Received Text"
                %th= "Reply Text"
                %th= "Mapping Type"
                %th= "Edit"
                %th= "Delete"
              - @mappings.each do |mapping|
                %tr
                  %td= link_to "Applied Numbers", customer_phone_numbers_path
                  %td= mapping.received_text
                  %td= mapping.reply_text
                  %td= mapping.mapping_type.name
                  %td= link_to 'Edit', edit_customer_mapping_path(current_user.customers.first, mapping)
                  / TODO: Fix the following link... It's broken
                  %td= link_to 'Destroy', root_path, method: :delete, data: { confirm: 'Are you sure?' }
            %table.table.table-striped.table-hover.table-condensed
            %tbody
              %tr
                = link_to 'Add New Mapping', new_customer_mapping_path